{
  "env": {
    "test": {
      "presets": [
        "env",
        "react",
        "es2015",
        "stage-2"
      ],
      "plugins": [
        "transform-export-extensions",
        "flow-react-proptypes"
      ],
      "only": [
        "./**/*.js",
        "node_modules/jest-runtime"
      ]
    }
  },
  "presets": [
    "react-native"
  ]
}
