{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "react-native",
        "eslint-plugin-flowtype",
        "eslint-plugin-flowtype-errors"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-native/all"
    ],
    "settings": {
        "react": {
            "version": "16.4.1",
            "flowVersion": "0.80"
        }
    },
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        "semi": 2
    },
    "env": {
        "es6": true
    }
}